.relative-position {
  position: relative;
}
#extract {
  margin-top: 10px;
}
#copy {
  position: absolute;
  top: 0;
  right:0;
  opacity:0.4;
  transition: all 0.3s ease;
}
#copy:hover {
  opacity: 1;
}