<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
     <div class="container">    
        <h2 class="mt-4">Parse PHP Into JS</h2>
        <form method="post" action="/">
          <textarea name="data" rows="10" id="src" class="form-control mb-4"><%= phpCode %></textarea>
          <input type="submit" id="extract" class="btn btn-primary btn-lg btn-block" value="Transpile" />
        </form>
        <hr>
        <pre class="border rounded bg-light  p-4" id="output"><%= jsCode %></pre>
      </div>
  </div>
</body>
</html>
