<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>
  <div class="container">
     <div class="container">    
        <h2 class="mt-4">Parse PHP Into JS</h2>
        <form method="post" action="/">
          <textarea name="data" rows="10" id="src" class="form-control mb-4"><%= phpCode %></textarea>
          <input type="submit" id="extract" class="btn btn-primary btn-lg btn-block" value="Transpile" />
        </form>
        <hr>
        <div class="relative-position">
         <button id="copy" class="btn btn-primary btn-lg">Copy JS</button>
        <textarea class="border form-control mb-4 rounded bg-dark  p-4" rows="10" id="output"><%= jsCode %></textarea>
      </div>
      </div>
  </div>
  <script>
    jQuery( document ).ready( function() {
      jQuery( '#copy' ).on( 'click', function( event ) {
        if ( event ) {
          event.preventDefault();
        }

        var $copyTextarea = jQuery( '#output' );
        $copyTextarea[0].focus();
        $copyTextarea[0].select();

        try {
          var successful = document.execCommand( 'copy' );
          if ( successful ) {
             alert( 'JS Copied' );
          } else {
             alert('Something Went Wrong' );
          }
        } catch (err) {
          alert('Oops, unable to copy');
        }
      } );
    } );
  </script>
</body>
</html>
